/* Define theme variables */
:root {
  --text: #e2dcf5;
  --background: #06040d;
  --primary: rgb(52, 205, 156);
  --secondary: #8a285b;
  --accent: #d15f67;
}

.container {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100%;
}

/* Basic styling for the navigation bar */
.navbar {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--accent);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.shadow__btn {
  text-align: center;
  margin: 0 15px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 1em;
  color: var(--text);
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border: none;
  font-family: 'Poppins', sans-serif;
  background: var(--primary);
  box-shadow: 0 0 5px rgba(107, 184, 0, 0.3), 0 0 10px rgba(67, 59, 255, 0.2);
}

.shadow__btn:hover {
  background-color: var(--accent);
  box-shadow: 0 0 10px rgba(67, 59, 255, 0.6), 0 0 20px rgba(67, 59, 255, 0.4);
}

.shadow__btn:active {
  background-color: var(--accent);
  box-shadow: 0 0 20px rgba(67, 59, 255, 0.8), 0 0 30px rgba(67, 59, 255, 0.6);
}

/* Footer styles */
footer {
  background-color: var(--background);
  color: var(--text);
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: var(--text);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-info { 
  margin-top: 20px;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--background);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--text);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--accent);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none;
  }

  .menu-btn {
    display: block;
    background: none;
    border: none;
    color: var(--text);
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 601px) {
  .menu-btn {
    display: none;
  }

  .sidebar {
    display: none;
  }
}

/* General Body Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

/* Post styles */
.listserver {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.serverlink {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.lbox {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .lbox a {
    display: block;
    width: 80%;
  }
}

.ifrc {
  overflow: hidden;
}

.columnb {
  overflow: hidden;
}

a {
  font-family: Poppins;
}

/* This button is inspired from https://www.newline.co/pricing */
.button {
  text-align: center;
  --width: 150px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: rgb(64, 192, 87);
  transition: all 0.2s;
  border-radius: 3px;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rempx;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.button:hover {
  background-image: linear-gradient(
    to right,
    rgb(250, 82, 82),
    rgb(250, 82, 82) 16.65%,
    rgb(190, 75, 219) 16.65%,
    rgb(190, 75, 219) 33.3%,
    rgb(76, 110, 245) 33.3%,
    rgb(76, 110, 245) 49.95%,
    rgb(64, 192, 87) 49.95%,
    rgb(64, 192, 87) 66.6%,
    rgb(250, 176, 5) 66.6%,
    rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%,
    rgb(253, 126, 20) 100%,
    rgb(250, 82, 82) 100%
  );
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}

.homePageButton {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
}

.homePageButton:active {
  color: var(--accent);
}

.navbar .logo-container {
  align-items: center;
}

.navbar .logo {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--accent);
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.navbar .logo a {
  text-decoration: none;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: fit-content;
  }
}
